@media(max-width: 1024px){
    img.vegetable{ padding-left: 0px;
    }  
    #Text1{word-spacing: 10px}
    #sil{word-spacing: 10px;}
    img.vegetablel{padding-left:50px;}

    .bf{width:300px;}
    div#groun.container > div.row > div.col-4  > img{width: 100%;}
    

    #nado3{width:100%;}
    .tag{font-size: 45px;}

    #input{width: 450px;}
    #interested{width: 450px;} 
    #inter{width:200px; height: 55px; border-radius: 10px;}
    #btn4{height: 55px; width: 150px;}  
      
}
@media(max-width: 768px){
    nav{visibility: hidden;}
.hamburger-menu{visibility: unset;}  
.nav{width: 100%;} 
.logo{width: 350px;} 
.size{font-size: 40px;}
.vegetable{width: 225px;}
.vegtext{font-size: 20px;}
.vtext{font-size: 14px;}
.arbuz{width: 30%; height: 30%;}
#Text1{word-spacing: 10px;font-size: 13px;}
#sil{word-spacing: 2px;}
#sil>span>img{width: 25px; height: 25px;}
img.vegetablel{padding-left:10px;}

#header11{padding-bottom: 50px;}
.bf{width:200px;height: 200px;}
    .tomat{font-size:17px;}
    .atext{font-size: 15px;}
    .title{font-size: 36px}

    .tag{font-size: 35px;}
    #contatc{padding-bottom: 50px;}
    .ttext{font-size: 20px; padding-top: 20px;}

    #input{width: 250px;}
    #interested{width: 250px;} 
    #inter{width:180px; height: 55px; border-radius: 10px; }
    #btn4{height: 55px; width: 150px;}  
    .input{width: 250px;}
    #capture{float:right; margin-block-start: -50px;}    
}
@media(max-width: 640px){
#foot{font-size: 10px;}
.footer{height:40px ;}
.silk{font-size: 9px;}
#sil>span>img{width: 16px; height: 16px;}
.vtext{font-size: 10px;}
.vegtext{font-size: 15px;}
img.vegetablel{padding-left:10px; width: 100%;}
.vegetable{width: 100%;}
.size{font-size: 30px;}
.title{font-size:20px;}
.text{font-size:15px;}
.ovo{width: 195px;}
.arbuz{width: 25%; height: 25%; margin-bottom: 10px;}
#logo{width: 25%; height: 25%;}
.heads{font-size: 30px;}
.search{width: 220px;}
.search input{width: 200px;}
.br0{margin-bottom:100px; width: 120px;
    height: 45px;}
#header{background-size: 200%;}
.menu__box{width: 160px;}
.menu__item{font-size: 10px; padding: 12px 12px;}

#header11{padding-bottom: 50px;}
.bf{width:150px;height: 150px;}
    .tomat{font-size:17px;}
    .atext{font-size: 13px;}
    .vegetext{font-size: 16px;}
    .title{font-size: 26px}
    .star{font-size: 26px}
    .text{font-size:15px}
    .s{font-size:15px}
    .ss{font-size:15px; margin-block-start: -44px;}
    div.container>img{height: 50px;}

    .tag{font-size: 25px;}
    #contatc{padding-bottom: 50px;}
    .ttext{font-size: 12px; padding-top: 20px; margin-inline-start:90px}
    #img{width: 60px;}

    #input{width: 250px;}
    #interested{width: 250px;} 
    #inter{width:110px; height: 55px; border-radius: 10px; }
    #btn4{height: 55px; width: 130px; padding-left: 10px; padding-right: 10px;}  
    .input{width: 250px;}
    #capture{float:right; margin-block-start: -50px;} 
    #nam{font-size: 12px;}     
}
@media(max-width: 480px){
    #header{background-size: 275%;} 
    .heads{font-size: 25px;}
.arbuz{width: 20px; height: 20px; margin-bottom: 0px;}
.fot{font-size: 10px; }
.vegtext{font-size: 12px;} 
#Text1{word-spacing: 5px;font-size: 8px;}  
#foot{font-size: 8px;}
.footer{height:35px ;}
.silk{font-size: 8px;}
#sil>span>img{width: 16px; height: 16px;} 
#sil{padding-left: 0px;}

#header11{padding-bottom: 50px;}
.bf{width:125px;height: 125px;}
    .tomat{font-size:15px;}
    .atext{font-size: 13px;}
    .vegetext{font-size: 13px;}
    .title{font-size: 20px}
    .star{font-size: 20px}
    .text{font-size:13px}
    .s{font-size:13px}
    .ss{font-size:13px; margin-block-start: -44px;}
    div.container>img{height: 50px;}

    .tag{font-size: 20px;}
    #contatc{padding-bottom: 50px;}
    .ttext{font-size: 12px; padding-top: 20px; margin-inline-start:60px}
    #rec{width: 50px;}
    .offercont__star{font-size: 15px}
    .btn-rounded{border-radius: 30px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        padding-right: 10px;
    font-size: 10px;}
    .btn-rounded img{width: 35px;}

    #input{width: 200px;}
    #interested{width: 200px;} 
    #inter{width:200px; height: 55px; border-radius: 10px; }
    #btn4{height: 55px; width: 130px; padding-left: 10px; padding-right: 10px;}  
    .input{width: 200px;}
    #capture{float:right; margin-block-start: -50px;} 
    #nam{font-size: 12px;}     
}
@media(max-width: 400px){
.arbuz{width: 20px; height: 20px; margin-bottom: 0px;}
.fot{font-size: 7px; }
div.navveg>div.container>div.row>div.col{width: 33px;} 
div.navveg>div.container>div.row>div.col-2{width: 66px;}
#header{background-size: 300%;} 
.heads{font-size: 20px;}
.vegtext{font-size: 10px;} 
#Text1{word-spacing: 5px;font-size: 8px;}  
.search{width: 180px;}
.search input{width: 160px;}
.vtext{font-size: 8px;}
.size{font-size: 20px}
.footer{height:35px ;}
.silk{font-size: 7px;}
#sil>span>img{width: 10px; height: 12px;} 
div.col-9{width: 293px;}
div.col-3{width: 107px;}
.search{width: 180px;}
.search input{width: 160px;}
.vtext{font-size: 8px;}
.size{font-size: 20px}

#header11{padding-bottom: 50px;}
.bf{width:110px;height: 110px;}
    .tomat{font-size:12px;}
    .atext{font-size: 10px;}
    .vegetext{font-size: 11px;}
    .title{font-size: 17px}
    .star{font-size: 17px}
    .text{font-size:10px}
    .s{font-size:13px}
    .ss{font-size:13px; margin-block-start: -44px;}
    div.container>img{height: 50px;}
    div.col-8{width: 265px;}

    .back{font-size: 10px;}
    .tag{font-size: 15px;}
    #contatc{padding-bottom: 50px;}
    .ttext{font-size: 10px; padding-top: 5px; margin-inline-start:60px}
    #rec{width: 40px;}
    .offercont__star{font-size: 10px; margin-bottom: 0px;}
    .btn-rounded{border-radius: 30px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        padding-right: 10px;
    font-size: 10px;}
    .btn-rounded img{width: 35px;}
    .caharctewr{font-size: 10px;}
    #line1{width: 100%;}
  
    #input{width: 180px;}
    #interested{width: 180px;} 
    #inter{width:180px; height: 55px; border-radius: 10px; margin-block-start: -5px;}
    #btn4{height: 55px; width: 130px; padding-left: 10px; padding-right: 10px;}  
    .input{width: 190px;}
    #capture{float:right; margin-block-start: -42px; padding-right: -10px; width: 60px;} 
    #nam{font-size: 10px;} 
}
@media(max-width: 320px){
    .arbuz{width: 20px; height: 20px; margin-bottom: 0px;}
    .fot{font-size: 6px; }
    div.navveg>div.container>div.row>div.col{width: 26px;} 
    div.navveg>div.container>div.row>div.col-2{width: 53px;}
    #header{background-size: 375%;} 
    .heads{font-size: 17px;}
    .vegtext{font-size: 8px;} 
    #Text1{word-spacing: 5px;font-size: 7px;}  
    #foot{font-size: 7px;}
    .footer{height:35px ;}
    .silk{font-size: 7px;}
    #sil>span>img{width: 8px; height: 15px;} 
    div.col-9{width: 200px;}
    div.col-3{width: 120px;}
    .search{width: 140px;}
    .search input{width: 120px;}
    .vtext{font-size: 8px;}
    .size{font-size: 20px}
    .ovo{width: 160px; height: 160px;}

    #header11{padding-bottom: 50px;}
.bf{width:90px;height: 90px;}
    .tomat{font-size:12px;}
    .atext{font-size: 10px;}
    .vegetext{font-size: 8px;}
    .title{font-size: 17px}
    .star{font-size: 17px}
    .text{font-size:10px}
    .s{font-size:13px}
    .ss{font-size:13px; margin-block-start: -44px;}
    div.container>img{height: 50px;}
    div.col-8{width: 265px;}   

    .back{font-size: 8px;}
    .tag{font-size: 12px;}
    #contatc{padding-bottom: 50px;}
    .ttext{font-size: 8px; padding-top: 5px; margin-inline-start:40px}
    #rec{width: 35px;}
    .offercont__star{font-size: 10px; margin-bottom: 0px;}
    .btn-rounded{border-radius: 30px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        padding-right: 10px;
    font-size: 10px;}
    .btn-rounded img{width: 35px;}
    .caharctewr{font-size: 10px;}
    #line1{width: 100%; margin-block-start: 0px;}

    #input{width: 140px;}
    #interested{width: 140px;} 
    #inter{width:140px; height: 55px; border-radius: 10px; margin-block-start: -10px;}
    #btn4{height: 55px; width: 130px; padding-left: 10px; padding-right: 10px;}  
    .input{width: 140px;}
    #capture{float:right; margin-block-start: -42px; padding-right: -10px; width: 60px;} 
    #nam{font-size: 8px;}      
}
