<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=320, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/main.js"></script>
    <title>Web-page</title> 
</head>
    <body class="ty" style="color:#324950; background: #FaFAFA;">
        <div id="header11">
            <pre></pre>
        <div class="hamburger-menu" >
            <input id="menu__toggle" type="checkbox" >
            <label class="menu__btn" for="menu__toggle" >
            <span></span>
            </label>
          <ul class="menu__box" >
            <li><a class="menu__item" href="index.html">Home</a></li>
            <li><a class="menu__item" href="#">Company</a></li>
            <li><a class="menu__item" href="#">Profile</a></li>
            <li><a class="menu__item" href="tomatoallhtml">Products</a></li>
            <li><a class="menu__item" href="#">Services</a></li>
            <li><a class="menu__item" href="#">R&D</a></li>
            <li><a class="menu__item" href="contactus.html">Contact</a></li>
          </ul>
        </div>
        <div class=container>
            <div class="row">
            <img id="logo" src="images/Logo.png">
            
            <div class=nav>
                
                <form>
                    <div class=search>
                        <input name=search placeholder=Search>
                        <img src="images/Vector.png">
                    </div>
                </form>
                
                <nav>
                    
                    <a href="index.html"><font color="black" face="RobotoSlab">Home</font></a>
                    <a href=#><font color="black" face="RobotoSlab">Company</font></a>
                    <a href=#><font color="black" face="RobotoSlab">Profile</font></a>
                    <a href="tomatoall.html"><font color="black" face="RobotoSlab">Products</font></a>
                    <a href=#><font color="black" face="RobotoSlab">Services</font></a>
                    <a href=#><font color="black" face="RobotoSlab">R&D</font></a>
                    <a href="contactus.html"><font color="black" face="RobotoSlab">Contact</font></a> 
                    </div>
                </nav>
                
            </div>
        </div>
        </div>

        <figure>
            <img src="images/image 7.jpg">
        </figure>
        <div  id=lem class="container" style="margin-bottom: 50px;">
            <div class="row">
                <div class="col-12">
                    <h1 class="contact" >Contact us</h1>
                    <table class="cart">
                        <tr class="cart-list">
                            <td class="cart-item" v-for="item in cart">
                                <div class="cart-item-img">
                                    <img :src="'img/'+item.image" alt="">
                                </div>
                                <div class="cart-item-right">
                                    <div class="cart-item-subtitle">
                                        <h2>{{item.title}}</h2>
                                        <p>{{item.short_text}}</p>
                                    </div>
                                    <a class="cart-cross" href="#" @click.prevent="removeFromCart(item.id)">
                                        X
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                
                <div class="col-12">
                    <p class="star" style="margin-bottom: 50px;">* * * * *</p>
                </div>
                <form class="row" @submit.prevent = "makeOrder()" action="" v-if="formVisible">
                <div class="col-6">
      
                    <p id="nam" >Name *</p>
                    <input v-model="contactFields[0].text"  class="input" type="text" id="name" name=fname" required><br><br>
                    <p id="nam">Company name</p>
                    <input v-model="contactFields[1].text" class="input" type="copanyname" id="copanyname" name="copanyname"><br><br>
                    <p id="nam">Position</p>
                    <input v-model="contactFields[2].text" class="input" type="Position" id="Position" name="Position"><br><br>
                    <p id="nam">City</p>
                    <input v-model="contactFields[3].text"  class="input" type="text" id="city" name="city"><br><br>
                    <p id="nam">Country</p>
                    <input v-model="contactFields[4].text" class="input" type="text" id="country" name="county"><br><br>
                    <p id="nam">Telephone</p>
                    <input v-model="contactFields[5].text" class="input" type="tel" id="tel" name="tel"><br><br>
                    <p id="nam">Email *</p>
                    <input v-model="contactFields[6].text"  class="input" type="email" id="email" name="email" required><br><br>
                </div>
                <div class="col-6">
                    <div class="form-item">
                    <p id="nam">You are a</p>
                    <input v-model="contactFields[7].text"  id="input" list="prof" name="prof" >
                    <datalist id="prof">
                      <option value="seed producer">
                      <option value="seed buyer">
                      <option value="seed manager">
                      <option value="seed seller">
                    </datalist><br><br>
                    </div>
                    <div class="form-item">
                    <p id="nam">If other, please specify</p>
                    <input v-model="contactFields[8].text"id="input" type="text" name="text"><br><br>
                    </div>
                    <div class="form-item">
                    <p id="nam">You are interested in</p>
                    <textarea v-model="contactFields[9].text"name="interested" cols="40" rows="20" id="interested"></textarea>
                    </div>
                    <div class="form-item">
                    <p id="nam">Please type this code</p>
                    <img src="images/image 12.png" id="capture" >
                    <input type="text" id="capt" name="capt">
                    <button type="submit" id="btn4" class="btn btn-success btn-rounded"><b> Send Massage</b></button>
                </div>
                </div>
            </div>
        </form>
        <ul class="contact-list" v-if="!formVisible">
            <li class="contact-item" v-for="field in contactFields">
                <div class="field-text" v-if="field.text">
                    <h2>{{field.caption}}</h2>
                    <p>{{field.text}}</p>
                </div>
            </li>
            
        </ul>  
    </div>
        </div>
        <div class="container" >
            <div class="row">
                <div class="col" align=center style="padding-top: 44px; margin-bottom: 44px;">
                    <p style="font-size: 20px;color: #57984C;font-weight: bold; margin-bottom: -5px;">Our Address</p>
                    <img src="images/Line 2.png">
                    <p>AGRIDERA Seeds & Agriculture Ltd.<br>
                        P.O Box 103,<br>
                        Gedera 70750, Israel.<br>
                        Telephone: <label style="color:#57984C"> +972 8 944 9222</label></p>
                </div>
            </div>
        </div>

        <div class="foot">
            <div class="container">
                <div class="row">
                    <div id="Text1" class="col-9" >
                        <span > <a class="silk" href="">PROFILE</a>
                            <a class="silk" href=""> MANAGEMENT</a>
                             <a class="silk" href="">  PRODUCTS</a>
                             <a class="silk" href=""> R&D</a>
                            <a class="silk" href=""> LINKS</a>
                            <a class="silk" href=""> SITEMAP</a> 
                             <a class="silk" href=""> CONTACT</a>
                        </span>
                    </div>
                    <div id="sil" class=" col-3">
                        <span>
                            <img src="images/linkedin 5 4.png" width="30" height="30"  >  
                            <img src="images/inst.png" width="30" height="30"  >  
                            <img src="images/youtube 5 4.png" width="30" height="30"  >  
                            <img src="images/twitter 5 4.png" width="30" height="30"  >  
                            <img src="images/facebook 5 4.png" width="30" height="30"  > 
                            <pre></pre>
                        </span>
                    </div> 
            </div>  
        </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <p class="col-12"></p>
    
                    <a id="foot" class="col" href="">AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</a>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/main.js"></script>
</body>
</html>