<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=320, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="css/responsive.css" >
     
        <title>Web-page</title> 
    </head>
    <body >
        <div id="contatc">
            <pre></pre>
        <div class="hamburger-menu" >
            <input id="menu__toggle" type="checkbox" >
            <label class="menu__btn" for="menu__toggle" >
            <span></span>
            </label>
          <ul class="menu__box" >
            <li><a class="menu__item" href="index.html">Home</a></li>
            <li><a class="menu__item" href="#">Company</a></li>
            <li><a class="menu__item" href="#">Profile</a></li>
            <li><a class="menu__item" href="tomatoall.html">Products</a></li>
            <li><a class="menu__item" href="#">Services</a></li>
            <li><a class="menu__item" href="#">R&D</a></li>
            <li><a class="menu__item" href="contactus.html">Contact</a></li>
          </ul>
        </div>
        <div class=container>
            <div class="row">
            <img id="logo" src="images/Logo.png">
            
            <div class=nav>
                
                <form>
                    <div class=search>
                        <input name=search placeholder=Search>
                        <img src="images/Vector.png">
                    </div>
                </form>
                
                <nav>
                    
                    <a href="index.html"><font color="black" face="RobotoSlab">Home</font></a>
                    <a href=#><font color="black" face="RobotoSlab">Company</font></a>
                    <a href=#><font color="black" face="RobotoSlab">Profile</font></a>
                    <a href="tomatoall.html"><font color="black" face="RobotoSlab">Products</font></a>
                    <a href=#><font color="black" face="RobotoSlab">Services</font></a>
                    <a href=#><font color="black" face="RobotoSlab">R&D</font></a>
                    <a href="contactus.html"><font color="black" face="RobotoSlab">Contact</font></a> 
                    </div>
                </nav>
                
            </div>
        </div>
        </div>
        
        <div class="container">
            <a href="tomatoall.html"><img  style="padding-right: 10px; padding-top: 10px;" src="images/Arrow 1.png"></a>     <a class="back" href="tomatoall.html">Return to all tomatoes</a>
        </div>
        <div style="background-image: url(images/Unionto.png); overflow: hidden;" >
        <div  id=lem class="container" >
            <div class="row">
                <div class="col-6">
                    <p class="tag">{{product.title}}<b class="bgren"><br> {{product.short_text}}</b></p></b></p>
                    <p class="star">
                        * * * * *
                        </p>
                        <img id="img" src="images/Group 17.png">
                        <p class="ttext">Very high yield and<br> excellent fruits quality!
                        </p>
                        <p class="caharctewr">CHARACTERISTICS</p>
                        <img id="line1" src="images/Line 2.png">
                        <p class="text" ><b>Resistance</b><br>
                            HR: ToMV:0-2; Fol: 1,2; Ve/Vd;<br> 
                            IR: TYLCV
                            </p>
                        
                </div>
                <div class="col-6">
                    <img id="nado3" :src="'img/'+product.image" style="margin-bottom: 30px;">
                    <button type="button" class="btn btn-outline-success btn-rounded" style=" padding: 20px,10px;" @click.prevent="addToCart(product.id)" v-if="!btnVisible"><b> Add to cart</b></button>
                    <button type="button" class="btn btn-outline-success btn-rounded" style=" padding: 20px,10px;" v-on:click='btnClick' v-if="btnVisible"><b> Go to cart</b></button>
                </div>
                <div class="col-6">
                    <p class="caharctewr" style="margin-block-start: 30px;">Plant</p>
                    <img id="line1" src="images/Line 2.png" style="margin-block-start: -20px;">
                    <ul style="margin-inline-start: -15px; color:#57984C; font-size:17px">
                        <li><p class="text" style="margin-bottom: -0px;">Strong vigor that provides good leaf coverage. </p></li>
                        <li><p class="text" style="margin-bottom: -0px;">Very high productivity with good fruit setting.</p></li>
                        <li><p class="text" style="margin-bottom: -0px;">Early matured variety.</p></li>
                      </ul>
                </div>
                <div class="col-6">
                    <p class="caharctewr" style="margin-block-start: 30px; ">Cycle</p> 
                    <img id="line1" src="images/Line 2.png" style="margin-block-start: -20px;">
                    <ul style="margin-inline-start: -15px; color:#57984C;font-size:17px">
                        <li><p class="text" style="margin-bottom: -0px;">Spring</p></li>
                        <li><p class="text" style="margin-bottom: -0px;"> Fall </p></li>
                        <li><p class="text" style="margin-bottom: -0px;">Winter</p></li>
                      </ul>
                </div>
                <div class="col-6">
                    <p class="caharctewr" style="margin-block-start: 30px;">Fruit</p>
                    <img id="line1" src="images/Line 2.png" style="margin-block-start: -20px;">
                    <ul style="margin-inline-start: -15px; color:#57984C; font-size:17px">
                        <li><p class="text" style="margin-bottom: -0px;">Long shelf life on plant and post harvest.</p></li>
                        <li><p class="text" style="margin-bottom: -0px;">Nice shiny attractive deep red color.</p></li>
                        <li><p class="text" style="margin-bottom: 140px;">Average fruit size: 140 – 160 grams.</p></li>
                   
                      </ul>
                </div>
                <div class="col-6">
                    <p class="caharctewr" style="margin-block-start: 30px; ">Color</p> 
                    <img id="line1" src="images/Line 2.png" style="margin-block-start: -20px;">
                    <p class="text">Red</p>
                </div>
            </div>
            </div>
        </div>
        <div class="foot">
            <div class="container">
                <div class="row">
                    <div id="Text1" class="col-9" >
                        <span > <a class="silk" href="">PROFILE</a>
                            <a class="silk" href=""> MANAGEMENT</a>
                             <a class="silk" href="">  PRODUCTS</a>
                             <a class="silk" href=""> R&D</a>
                            <a class="silk" href=""> LINKS</a>
                            <a class="silk" href=""> SITEMAP</a> 
                             <a class="silk" href=""> CONTACT</a>
                        </span>
                    </div>
                    <div id="sil" class=" col-3">
                        <span>
                            <img src="images/linkedin 5 4.png" width="30" height="30"  >  
                            <img src="images/inst.png" width="30" height="30"  >  
                            <img src="images/youtube 5 4.png" width="30" height="30"  >  
                            <img src="images/twitter 5 4.png" width="30" height="30"  >  
                            <img src="images/facebook 5 4.png" width="30" height="30"  > 
                            <pre></pre>
                        </span>
                    </div> 
            </div>  
        </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <p class="col-12"></p>
    
                    <a id="foot" class="col" href="">AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</a>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>